<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectMatura.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" type="image/webp" href="{% static 'ProjectMatura.webp' %}">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="bg-dark text-white">
    <style>
        #res{
            transition: 0.5s ease-in-out;
        }
        #res:hover{
            transform: scale(1.05);
            background-color: azure;
            color: red;
        }
        /* stylelint-disable */
    </style>
    <nav class="navbar navbar-expand-md bg-dark border-bottom" data-bs-theme="dark" style="margin-bottom: 0%;">
        <div class="container">
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between align-items-center">
                <li class="nav-item"><a class="nav-link" href="/main">&lt; Powrót</a></li>
                <img src="{% static 'ProjectMatura.webp' %}" style="max-width: 75px;max-height: 75px;border-radius: 50%;">
              </ul>
            </div>
          </div>
        </div>
    </nav>
    
    <div id="pop" class="position-fixed top-0 start-0 w-100 h-100 justify-content-center align-items-center" style="background-color: rgba(0,0,0,0.6); display: none; z-index: 1050;">
        <div class="bg-dark text-white p-4 rounded shadow-lg" style="max-width: 500px; width: 90%;">
            <p class="mb-4">
                Czy na pewno chcesz zrezygnować z subskrypcji na platformie <strong>ProjectMatura.io</strong>?<br>
                Automatycznie utracisz dostęp do wszystkich płatnych treści.
            </p>
            <div class="d-flex justify-content-end gap-3">
                <form method="post" action="{% url 'resign' %}">
                    {% csrf_token %}
                    <button class="btn btn-danger">Tak</button>
                </form>
                <button class="btn btn-secondary" id="no">Nie</button>
            </div>
        </div>
    </div>
    <div class="container p-3 rounded bg-dark text-white shadow-lg" style="max-width: 100%;">
        <div class="d-flex justify-content-center mb-4">
            <img src="{% static 'user.webp' %}" class="img-fluid rounded" style="width: 100%; max-width: 15vw; height: auto;">
        </div>
        <h1 class="text-center mb-1 fs-5">Moje konto</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-5 col-lg-5 col-xl-4">
                <div class="mb-2">
                    <label for="email" class="form-label">Adres e-mail:</label>
                    <input type="email" class="form-control" id="mail" value="{{ mail }}" readonly>
                </div>
                {% if not type %}
                <div class="col-12">
                    <label class="form-label">Postęp kursu: </label>
                    <div class="progress" style="height: 3vh;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                            {{ progress }}%
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="d-grid gap-2 mt-3 btn-md">
                    <a href="https://discord.com/channels/1366385364209762386/1366385364675072071" 
                    class="btn btn-primary btn-lg"
                    target="_blank" 
                    rel="noopener noreferrer">
                    Dołącz do naszej społeczności <strong>Discord</strong>!
                    </a>

                    {% if type %}
                        <div class="alert alert-warning text-center" role="alert">
                            Kup kurs, aby otrzymać dostęp do wszystkich dostępnych treści na platformie <strong>ProjectMatura.io</strong>.
                        </div>
                    {% else %}
                        <button id="res" class="btn btn-danger btn-lg w-100 btn-md">
                            Zrezygnuj z subskrypcji
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="{% static 'account.js' %}"></script>
</body>


</html>