<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectMatura.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" type="image/webp" href="{% static 'ProjectMatura.webp' %}">
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <style>
        #signout{
            transition: 0.5s ease-in-out;
        }
        #signout:hover{
            transform: scale(1.05);
            background-color: azure;
            color: red;
        }
        #done{
          transition: 0.5s ease-in-out;
        }
        #done:hover{
            transform: scale(1.05);
            background-color: white;
            color: green;
        }
        @media(max-width:1316px){
          *{
            font-size: 0.8rem;
          }
        }

        @media(max-width:885px){
          *{
            font-size: 0.75rem;
          }
        }

        @media(max-width:800px){
          *{
            font-size: 0.65rem;
          }
        }
        @media(max-width:630px){
          *{
            font-size: 0.6rem;
          }
        }
    </style>
    <nav class="navbar navbar-expand-md bg-dark border-bottom" data-bs-theme="dark">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between align-items-center">
                <img src="{% static 'ProjectMatura.webp' %}" style="max-width: 75px;max-height: 75px;border-radius: 50%;">
                <li class="nav-item"><a class="nav-link" href="/main/konto">Moje konto</a></li>
                <button id="signout" class="btn btn-danger">Wyloguj się</button>
              </ul>
            </div>
          </div>
        </div>
    </nav>
    <div class="container-fluid bg-dark text-white vh-100">
      <div class="row h-100">
        <div class="col-3 bg-secondary p-3">
          <h5 class="mb-3">Rozdziały</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Wprowadzenie">Wprowadzenie<img id="checkWprowadzenie" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Funkcje">Funkcje<img id="checkFunkcje" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="LiczbyR">Liczby rzeczywiste<img id="checkLiczbyR" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Logarytmy">Logarytmy<img id="checkLogarytmy" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Równania">Równania i nierówności<img id="checkRównania" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Trygonometria">Trygonometria<img id="checkTrygonometria" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Geometria">Geometria<img id="checkGeometria" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Planimetria">Planimetria<img id="checkPlanimetria" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Kombinatoryka">Kombinatoryka<img id="checkKombinatoryka" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Prawdopodobieństwo">Prawdopodobieństwo<img id="checkPrawdopodobieństwo" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Okręgi">Okręgi<img id="checkOkręgi" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Ciągi">Ciągi<img id="checkCiągi" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="ZadaniaO">Zadania optymalizacyjne<img id="checkZadaniaO" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link bg-light text-dark border rounded px-3 py-2" id="Podsumowanie">Podsumowanie- arkusz od A do Z<img id="checkPodsumowanie" style="width:15px;height: 15px;" class="float-end lock" style="display: none;"  src="{% static 'check.webp' %}"></a>
            </li>
          </ul>
        </div>

        <div class="col-9 p-5 bg-dark rounded shadow-sm" id="main">
          <div id="wrapper" class="d-flex justify-content-between align-items-center w-100 mb-3">
            <h2 id="head" class="mb-0 text-white fw-bold"></h2>
            <div id="dummy">
              <button id="done" class="btn btn-success px-4 py-2 shadow">Oznacz jako wykonane</button>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center gap-3" id="content">
          </div>
          
        </div>
      </div>
    </div>


    <input type="hidden" id="type" value="full">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
</body>


</html>