<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectMatura.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" type="image/webp" href="{% static 'ProjectMatura.webp' %}">
</head>

<body>
    <style>
      #signIN,#signUP{
        transition: 0.5s ease-in-out;
      }
      #signIN:hover,#signUP:hover{
        transform: scale(1.05);
        background-color: white;
        color: lightskyblue;
      }
      html{
        scroll-behavior: smooth;
      }
    </style>
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between">
                <li class="nav-item"><a class="nav-link" href="#about">O mnie</a></li>
                <li class="nav-item"><a class="nav-link" href="#kurs">Zakres kursu</a></li>
                <li class="nav-item"><a class="nav-link" href="#kurs">Cena</a></li>
                <button id="signUP" class="btn btn-primary">Zarejestruj się</button>
                <button id="signIN" class="btn btn-primary">Zaloguj się</button>
              </ul>
            </div>
          </div>
        </div>
    </nav>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-white min-vh-100">
        <div class="col-md-9 p-lg-5 mx-auto my-5">
          <h1 class="display-8 fw-bold">Marzysz o zdaniu matury podstawowej z matematyki? Super, że tu jesteś!</h1>
          <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#kurs">
              Dowiedz się więcej
              <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>

        <div class="container my-5">
          <div class="ratio ratio-16x9 shadow-lg rounded overflow-hidden">
            <video class="w-100 h-100" controls src="{% static 'intro.avif' %}" style="object-fit: cover;"></video>
          </div>
        </div>
    </div>

    <div class="px-4 pt-5 my-5 text-center border-bottom pb-5 mb-5" id="kurs">
      <h1 class="display-6 fw-bold text-body-emphasis">Zakres kursu</h1>
      <div class="col-lg-10 mx-auto">
        <p class="lead mb-6">
          Kurs obejmuje wszystkie zagadnienia z matematyki, które wymagane są od maturzystów na egzaminie maturalnym.
          Dokładnie opracowane działy matematyki, przerobione typowe zadania z lat ubiegłych i prace domowe pozwolą na 
          zdanie egzaminu podstawowego z matematyki na satysfakcjunującym poziomie.<br>
          <strong>UWAGA: Ten kurs służy do przygotowania jedynie do matury podstawowej</strong>.
        </p>
        <div style="margin-top: 5%;font-size: 1.6rem;">
          <div class="row">
            <div class="col">Funkcje</div>
            <div class="col">Liczby rzeczywiste</div>
            <div class="col">Planimetria</div>
          </div>
          <div class="row">
            <div class="col">Prawdopodobieństwo</div>
            <div class="col">Logarytmy</div>
            <div class="col">Kombinatoryka</div>
          </div>
          <div class="row">
            <div class="col">Równania i nierówności</div>
            <div class="col">Ciągi</div>
            <div class="col">Okręgi</div>
          </div>
          <div class="row">
            <div class="col">Geometria</div>
            <div class="col">Trygonometria</div>
            <div class="col">Zadania optymalizacyjne</div>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex;align-items: stretch;justify-content:center;gap:3rem" id="cena">
      <div class="col-lg-5" style="color: azure;max-width: 60vw;">
        <div class="card mb-4 bg-dark rounded-3 shadow-sm" style="color: azure;" data-bs-theme="dark">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Wersja darmowa</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0 zł<small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Dostęp do serwera Discord społeczności</li>
              <li>Rozdział "Funkcje"</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="color: azure;max-width: 60vw;">
        <div class="card mb-4 bg-dark rounded-3 shadow-sm" style="color: azure;" data-bs-theme="dark">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Wersja płatna</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">20 zł<small class="text-body-secondary fw-light">/miesięcznie</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Dostęp do serwera Discord społeczności</li>
              <li>Pełen dostęp do wszystkich opracowanych zagadnień</li>
              <li>Interaktywne prace domowe</li>
              <li>Możliwość konsultacji w ramach społeczności</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="about" class=" bg-dark p-3 p-md-5 m-md-3" style="display: flex;justify-content: space-around;padding: 3%;">
      <img src="{% static 'about.webp' %}" style="position: relative; float: left;max-width: 700px;max-height: 400px;border-radius: 50%;margin-top: 7%;">
      <div style="position: relative;float: right;margin: 3%;">
        <h1 class="display-8 fw-bold text-body-emphasis" style="color: azure !important;">O mnie</h1><br>
        <h2 class="display-8 fw-bold text-body-emphasis" style="color: lightskyblue !important;">Cześć jestem Damian👋,</h2><br>
        <p class="lead mb-8" style="color: azure !important;">Jestem studentem informatyki, który w roku 2024 zdawał mature. Chciałbym podzielić się z wami wiedzą, którą nabyłem podczas przygotowań do egzaminu maturalnego przez cztery lata liceum. 
          Bardzo dobrze zdaję sobie sprawę z powagi tego egzaminu, dla wielu jest on przepustką na studia a dla innych tylko jednym z wielu testów do "odhaczenia". Nie zależnie z jakimi ambicjami podchodzicie do matury z matematyki,
          chcę pomóc Wam w osiągnięciu Waszych celów. Pamiętam stres, który odczuwałem podczas pisania egzaminu maturalnego, presja była ogromna. Jednak najlepszym sposobem na przezwyciężenie tego strachu jest
          sumienne przygotowanie. Mam za cel sprawienie aby kursanci nie martwili się tym czy zdobędą 28, może 30%, jednak aby martwili się o to czy wynik będzie trzycyfrowy, czy też nie.
          Swoje matury wspominam bardzo dobrze- poszły mi rewelacyjnie i dostałem się na wymarzone studia w mieście w którym mieszkam. Życzę wam takich sukcesów, które mam nadzieję będziemy świętować razem. 
        </p>
      </div>
    </div>

    <div id="faq" style="margin: auto;position: relative;justify-content: center;max-width: 60%;margin-bottom: 4%;margin-top: 3%;">
      <strong class="offset-3" style="font-size: 2rem;margin-bottom: 2%;">Często zadawane pytania</strong>
      <div class="accordion" id="accordionExample" style="margin-top: 4%;">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Jak mogę się z kontaktować?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Można się ze mną skontaktować pisząc wiadomość na mail: damian.piechocki05@gmail.com lub pisząc na kanale społeczności na Discordzie.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Jak dołączyć do społeczności Discord?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Link z zaproszeniem do społeczności będzie dostępny po utworzeniu konta i zalogowaniu się(subskrypcja nie jest wymagana).
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Kiedy mogę zrezygnować z subskrypcji?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Po zalogowaniu wystarczy przejść do zakładki konto a następnie kliknąć "Rezygnuję z subskrypcji". Wówczas dostęp do treści płatnych zostanie odebrany a opłata przestanie być pobierana z konta.
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-dark p-3" style="display:flex ;height: 10vh;justify-content: center;align-items: center;">
        <div style="color: azure;margin: auto;justify-content: center;align-items: center;">
          ProjectMatura.io 2025
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="{% static 'home.js' %}"></script>
</body>


</html>