<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectMatura.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" type="image/webp" href="{% static 'ProjectMatura.webp' %}">
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between">
                <li class="nav-item"><a class="nav-link" href="/#about">O mnie</a></li>
                <li class="nav-item"><a class="nav-link" href="/#kurs">Zakres kursu</a></li>
                <li class="nav-item"><a class="nav-link" href="/#cena">Cena</a></li>
                <button class="btn btn-primary" style="margin-bottom: 1%;" id="signup">Zarejestruj się</button>
                <button class="btn btn-primary" style="margin-bottom: 1%;" id="signin">Zaloguj się</button>
              </ul>
            </div>
          </div>
        </div>
    </nav>
    <div id="alert" class="position-fixed top-0 start-0 w-100 h-100 d-none justify-content-center align-items-center" 
       style="background-color: rgba(0,0,0,0.6); z-index: 1050;">
      <div class="bg-white text-dark p-4 rounded shadow-lg" style="max-width: 400px; width: 90%; position: relative;">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <label class="fw-semibold" style="font-size: 1rem;" id="alert-mess">
        </label>
        <button type="button" onclick="document.getElementById('alert').classList.remove('d-flex');document.getElementById('alert').classList.add('d-none');" 
            style="background: transparent; border: none; padding: 0; margin-left: 10px;">
          <img src="{% static 'remove.webp' %}" alt="Zamknij" style="width: 20px; height: 20px;">
        </button>
      </div>
      </div>
    </div>
    <main class="form-signin m-auto p-5 border rounded bg-white mt-5" style="max-width: 550px;">
      <img src="{% static 'ProjectMatura.webp' %}" 
     alt="ProjectMatura Logo" 
     class="img-fluid d-block mx-auto" 
     style="max-height: 28vh; width: auto; height: auto; border-radius: 50%; margin-bottom: 5%;">
        <h1 class="h3 mb-3 fw-normal offset-4">Resetuj hasło</h1>
        <div class="form-floating">
          <input type="password" name="mail" id="first" class="form-control" id="floatingInput" placeholder="Hasło">
          <label>Hasło</label>
        </div>
        <div class="form-floating">
          <input type="password" id="repeat" class="form-control" name="password" id="floatingPassword" placeholder="Powtórz hasło">
          <label>Powtórz hasło</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit" id="confirm">Potwierdź</button>
    </main>   
    
    <script src="{% static 'restore.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>

</html>