<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectMatura.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" type="image/webp" href="{% static 'ProjectMatura.webp' %}">

</head>

<body>
  <style>
    #signIN{
      transition: 0.5s ease-in-out;
    }
    #signIN:hover{
      transform: scale(1.05);
      background-color: white;
      color: lightskyblue;
    }
  </style>
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark" style="margin-bottom: 5%;">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between">
                <li class="nav-item"><a class="nav-link" href="/">Strona główna</a></li>
                <li class="nav-item"><a class="nav-link" href="/#about">O mnie</a></li>
                <li class="nav-item"><a class="nav-link" href="/#kurs">Zakres kursu</a></li>
                <li class="nav-item"><a class="nav-link" href="/#cena">Cena</a></li>
                <button id="signIN" class="btn btn-primary" style="margin-bottom: 1%;">Zaloguj się</button>
              </ul>
            </div>
          </div>
        </div>
    </nav>
    
    <div id="pop" 
     class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center" 
     style="background-color: rgba(0,0,0,0.6); z-index: 1050;display: none !important;">
      <div class="bg-dark text-white p-4 rounded shadow-lg" style="max-width: 500px; width: 90%;">
          <button type="button" 
            onclick="document.getElementById('pop').style.setProperty('display','none','important')" 
            style="position: relative;float: right; background: transparent; border: none; padding: 0;">
            <img src="{% static 'remove.webp' %}" alt="Close" style="width: 20px; height: 20px; display: block;">
          </button>
          <p class="mb-2 fw-semibold" id="message">
              Utworzenie konta na podany adres e-mail nie jest możliwe, spróbuj ponownie.
          </p>
      </div>
    </div>

    <div id="popup" 
     class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center" 
     style="background-color: rgba(0,0,0,0.6); z-index: 1050;display: none !important;">
      <div class="bg-dark text-white p-4 rounded shadow-lg" style="max-width: 500px; width: 90%;">
          <button type="button" 
            onclick="document.getElementById('popup').style.setProperty('display','none','important')" 
            style="position: relative;float: right; background: transparent; border: none; padding: 0;">
            <img src="{% static 'remove.webp' %}" alt="Close" style="width: 20px; height: 20px; display: block;">
          </button>
          <p class="mb-2 fw-semibold" id="mess">
              Nieprawidłowy kod autentykacji, spróbuj ponownie.
          </p>
      </div>
    </div>

    <div id="code-form" class="top-50 start-50 translate-middle position-fixed bg-dark text-white p-5 rounded shadow-lg" style="max-width: 600px;display: none !important;z-index: 1050;">
      <button type="button" onclick="document.getElementById('code-form').style.display='none';document.getElementById('floatingPassword').value='';document.getElementById('floatingInput').value='';" class="position-absolute top-0 end-0 m-3 btn btn-sm p-1 bg-transparent border-0">
        <img src="{% static 'remove.webp' %}" alt="Zamknij" style="width: 20px; height: 20px;">
      </button>
      <h1 class="mb-4 text-center fs-5 fw-semibold">Wpisz kod wysłany na podany adres e-mail:</h1>
      <div id="code-input" class="d-flex justify-content-center gap-3">
        <input type="text" id="1" maxlength="1" class="form-control text-center rounded border-0 shadow-sm bg-secondary text-white" style="width: 5vw; height: 10vh; font-size: 1.5rem;font-weight: bolder;" />
        <input type="text" id="2"  maxlength="1" class="form-control text-center rounded border-0 shadow-sm bg-secondary text-white" style="width: 5vw; height: 10vh; font-size: 1.5rem;font-weight: bolder;" />
        <input type="text" id=3 maxlength="1" class="form-control text-center rounded border-0 shadow-sm bg-secondary text-white" style="width: 5vw; height: 10vh; font-size: 1.5rem;font-weight: bolder;" />
        <input type="text" id="4" maxlength="1" class="form-control text-center rounded border-0 shadow-sm bg-secondary text-white" style="width: 5vw; height: 10vh; font-size: 1.5rem;font-weight: bolder;" />
        <input type="text" id="5" maxlength="1" class="form-control text-center rounded border-0 shadow-sm bg-secondary text-white" style="width: 5vw; height: 10vh; font-size: 1.5rem;font-weight: bolder;" />
        <input type="text" id="6" maxlength="1" class="form-control text-center rounded border-0 shadow-sm bg-secondary text-white" style="width: 5vw; height: 10vh; font-size: 1.5rem;font-weight: bolder;"/>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button id="create" class="btn btn-primary px-4 py-2 rounded-pill shadow-sm fw-semibold" onclick="document.getElementById('code-form').style.display='none'">
          Utwórz konto
        </button>
      </div>
    </div>


    <main class="form-signin m-auto" style="max-width: 350px;">
      <img src="{% static 'ProjectMatura.webp' %}" 
     alt="ProjectMatura Logo" 
     class="img-fluid d-block mx-auto" 
     style="max-height: 28vh; width: auto; height: auto; border-radius: 50%; margin-bottom: 5%;">
      <form>
        <h1 class="h3 mb-3 fw-normal offset-3">Zarejestruj się</h1>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Adres email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Hasło</label>
        </div>
        <button type="button" class="btn btn-primary w-100 py-2" style="margin-top: 5%;" id="sign">Zarejestruj się</button>
      </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="{% static 'signUP.js' %}"></script>
    <script>
      const inputs = document.querySelectorAll('#code-input input');
        inputs.forEach((input, index) => {
          input.addEventListener('input', () => {
            if (input.value.length === 1 && index < inputs.length - 1) {
              inputs[index + 1].focus();
            }
          });

          input.addEventListener('keydown', (e) => {
            if (e.key === 'Backspace' && input.value === '' && index > 0) {
              inputs[index - 1].focus();
            }
          });
        });
    </script>
</body>


</html>